<fieldset>
  <ul>
    <li>
      <label for="new-task-title">Title</label>
      <div>
        <input id="new-task-title" name="title" type="text">
      </div>
    </li>
    <li class="bbf-field">
      <input type="submit" value="Create task">
    </li>
    <li class="bbf-field">
      <a class="leave" href="#">I'm done adding tasks</a>
    </li>
  </ul>
</fieldset>